<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wikki Article</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <body>
 <form action='/search_list/' method='GET'>
  <div class="ui-widget">
    <label for="res">Wikki: </label>
    <input id="ress" name='ress'>
    <button type="submit" >search_list</button>
  </div>
  
 </form>
 
</body>
  
</head>

</html>